@use "src/styles/colors";
@use "src/styles/media";
@import "src/styles/keyframes";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.contentBlockContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBlock {
  max-width: 1030px;
  width: 100%;
  background-color: colors.$background-secondary;
  margin: 40px auto;
  border: 1px solid colors.$border-primary;

  @include media.for-mobile {
    margin: 0px auto;
  }
}

.h1 {
  font-size: 34px;
  font-weight: 600;
  line-height: 48px;
  color: colors.$text-primary;
  margin-bottom: 12px;

  @include media.for-mobile {
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
  }
}
.arrows {
  display: inline-block;
  margin-right: 0px;
  margin-left: -4px;
  span {
    letter-spacing: -16px;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    width: 40px;
    white-space: nowrap;
  }
  @include media.for-mobile {
    span {
      letter-spacing: -11px;
    }
  }
}

.description {
  font-size: 16px;
  line-height: 28px;
  color: colors.$text-secondary;

  a {
    color: colors.$palette-green;

    &:hover {
      text-decoration: underline;
    }
  }
  @include media.for-mobile {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

.contentBlockHeader {
  padding: 32px 40px;
  text-align: center;
  border-bottom: 1px solid colors.$border-primary;
  @include media.for-mobile {
    padding: 20px;
  }
}

.converter {
  padding: 40px;
  @include media.for-mobile {
    padding: 20px;
  }
}

.infoLabel {
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  background: var(--blue-bcg, #202f47);
  border: 1px solid colors.$palette-blue;
  padding: 8px 20px;

  p {
    color: colors.$text-primary;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;  
  }
  a {
    color: colors.$text-primary;
    text-decoration: underline;
    &:hover {
      color: colors.$palette-green;
    }
  }

  svg {
    width: 32px;
    height: 32px;
    min-width: 32px;
    color: colors.$palette-blue;  
  }

  @include media.for-mobile {
    padding: 12px 16px;
    margin-bottom: 16px;
    p {
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
    }
    svg {
      width: 24px;
      height: 24px;
      min-width: 24px;
    }
  }
}

.switchButtonWrapper {
  height: 20px;
  position: relative;
}

.switchButton {
  padding: 0;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  border-radius: 50%;
  border: 1px solid colors.$border-primary;
  width: 48px;
  height: 48px;
  background: colors.$background-secondary;
  z-index: 1;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    border-color: colors.$text-secondary;
  }

  @include media.for-mobile {
    width: 40px;
    height: 40px;
    left: calc(50% - 20px);
    top: calc(50% - 20px);  
  
  }
}
.rotated {
  transform: rotate(-180deg);
}

.fromLabel,
.toLabel {
  display: flex;
  justify-content: space-between;
  border: 1px solid colors.$border-primary;
  color: colors.$text-secondary;
}

.fromLabel {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.toLabel {
  padding: 13px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
}

.amountInputWrapper {
  position: relative;
  width: 100%;
}

.notSupported {
  color: colors.$text-primary;
  display: grid;
  gap: 10px;
}
