@use "src/styles/colors";
@use "src/styles/media";
@import "src/styles/keyframes";

.contentBlock {
  max-width: 680px;
  background-color: colors.$background-secondary;
  margin: 40px auto;
  border: 1px solid colors.$border-primary;
}

.h1 {
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  color: colors.$text-primary;
  margin-bottom: 12px;
}

.description {
  font-size: 16px;
  line-height: 28px;
  color: colors.$text-secondary;

  a {
    color: colors.$palette-green;

    &:hover {
      text-decoration: underline;
    }
  }
}

.contentBlockHeader {
  padding: 32px 40px;
  text-align: center;
  border-bottom: 1px solid colors.$border-primary;
}

.converter {
  padding: 40px;
}

.infoLabel {
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  background: var(--blue-bcg, #202F47);
  border: 1px solid colors.$palette-blue;
  padding: 8px 20px;
}

.infoIcon {
  width: 32px;
  height: 32px;
  color: colors.$palette-blue;
}

.infoText {
  color: colors.$text-primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.switchButtonWrapper {
  height: 20px;
  position: relative;
}

.switchButton {
  padding: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 1px solid colors.$border-primary;
  width: 48px;
  height: 48px;
  background: colors.$background-secondary;
  z-index: 1;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.2s;
  cursor: pointer;

  &:hover {
    border-color: colors.$text-secondary;
  }
}

.fromLabel,
.toLabel {
  display: flex;
  justify-content: space-between;
  border: 1px solid colors.$border-primary;
  color: colors.$text-secondary;
}

.fromLabel {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.toLabel {
  padding: 13px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
}

.customContractAddressWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 14px;

  p {
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    color: colors.$text-primary;
  }
}

.converterFieldsLabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: colors.$text-primary;
  margin-bottom: 4px;
}

.converterFields {
  display: grid;
  grid-template-columns: 5fr 3fr;
  margin-bottom: 4px;
}

.amountInputWrapper {
  position: relative;
  width: 100%;
}

.amountInput {
  padding: 10px 55px 10px 20px;
  border: 1px solid colors.$border-primary;
  width: 100%;
  background-color: colors.$background-primary;
  outline: 0;
  font-size: 16px;
  line-height: 28px;
  color: colors.$text-primary;
}

.maxButton {
  font-size: 12px;
  line-height: 16px;
  color: colors.$palette-green;
  position: absolute;
  background-color: transparent;
  right: 10px;
  padding: 0 10px;
  height: 100%;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.pickTokenButton {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$background-primary;
  outline: 0;
  border: 1px solid colors.$border-primary;
}

.tokenName {
  display: flex;
  gap: 8px;
  color: colors.$text-primary;
  align-items: center;

}

.helperText {
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: colors.$text-secondary;
}

.actionButtonWrapper {
  margin-top: 20px;
}

.convertButton {
  background-color: colors.$palette-green;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 8px;
  color: colors.$background-primary;
  height: 48px;
  width: 100%;
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    pointer-events: none;
    background-color: #787B78;
  }
}

.getTestTokens {
  background-color: colors.$palette-green;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 8px;
  color: colors.$background-primary;
  height: 48px;
  border: 0;

  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    pointer-events: none;
    background-color: #787B78;
  }
}

.temporaryBlock {
  border-top: 1px solid colors.$border-primary;
  padding: 40px;
}

.address {
  color: colors.$text-primary;
}

.buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 10px;

  > button {
    width: 100%;
  }
}

.notSupported {
  color: colors.$text-primary;
  display: grid;
  gap: 10px;
}
