@use "src/styles/colors";
@use "src/styles/media";
@import "src/styles/keyframes";

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.contentBlockContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contentBlock {
  max-width: 680px;
  background-color: colors.$background-secondary;
  margin: 40px auto;
  border: 1px solid colors.$border-primary;
}

.h1 {
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  color: colors.$text-primary;
  margin-bottom: 12px;
}

.description {
  font-size: 16px;
  line-height: 28px;
  color: colors.$text-secondary;

  a {
    color: colors.$palette-green;

    &:hover {
      text-decoration: underline;
    }
  }
}

.contentBlockHeader {
  padding: 32px 40px;
  text-align: center;
  border-bottom: 1px solid colors.$border-primary;
}

.converter {
  padding: 40px;
}

.infoLabel {
  margin-bottom: 20px;
  display: flex;
  gap: 8px;
  align-items: center;
  background: var(--blue-bcg, #202f47);
  border: 1px solid colors.$palette-blue;
  padding: 8px 20px;
}

.infoIcon {
  width: 32px;
  height: 32px;
  color: colors.$palette-blue;
}

.infoText {
  color: colors.$text-primary;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.switchButtonWrapper {
  height: 20px;
  position: relative;
}

.switchButton {
  padding: 0;
  position: absolute;
  left: calc(50% - 24px);
  top: calc(50% - 24px);
  border-radius: 50%;
  border: 1px solid colors.$border-primary;
  width: 48px;
  height: 48px;
  background: colors.$background-secondary;
  z-index: 1;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  cursor: pointer;

  &:hover {
    border-color: colors.$text-secondary;
  }
}
.rotated {
  transform: rotate(-180deg);
}

.fromLabel,
.toLabel {
  display: flex;
  justify-content: space-between;
  border: 1px solid colors.$border-primary;
  color: colors.$text-secondary;
}

.fromLabel {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.toLabel {
  padding: 13px 20px;
  font-size: 20px;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 20px;
}

.amountInputWrapper {
  position: relative;
  width: 100%;
}

.notSupported {
  color: colors.$text-primary;
  display: grid;
  gap: 10px;
}
