@use "src/styles/colors";

.link {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 16px;
  color: colors.$text-secondary;
  flex-shrink: 0;

  //&:hover .articleTitle {
  //  text-decoration: underline;
  //}

  transition-duration: 0.2s;

  &:hover {
    background-color: #323531;
  }

  &:not(:last-child) {
    border-bottom: 1px solid colors.$border-primary;
  }
}

.description {
  font-size: 14px;
  line-height: 24px;
}

.articleTitle {
  color: colors.$palette-green;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}
