@use "src/styles/colors";
@use "src/styles/media";

.container {
  padding: 20px 40px;
  border-bottom: 1px solid colors.$border-primary;
  display: flex;
  gap: 20px;
  @include media.for-mobile {
    flex-direction: column;
    gap: 16px;
    padding: 20px
  }
}

.pickNetworkButton {
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$background-primary;
  outline: 0;
  border: 1px solid colors.$border-primary;
  width: 100%;
  div {
    display: flex;
  }
  @include media.for-mobile {
    height: 48px;
  }
}
.disconnectWalletButton {
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: colors.$background-primary;
  outline: 0;
  border: 1px solid colors.$border-primary;
  width: 100%;
  @include media.for-mobile {
    height: 48px;
  }
}

.tokenName {
  display: flex;
  gap: 8px;
  color: colors.$text-primary;
  align-items: center;
}

.networksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  // gap: 20px
  padding: 20px 0px;

  @include media.for-mobile {
    padding: 16px 0px;
  }
}
.network {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 40px;
  cursor: pointer;
  &:hover {
    background-color: #323531;
  }

  span {
    color: colors.$text-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
  }

  @include media.for-mobile {
    padding: 14px 16px;
  }
}
