@use "src/styles/colors";
@use "src/styles/media";

.footer {
  font-size: 14px;
  line-height: 24px;
  background-color: colors.$background-primary;
  border-top: colors.$border-primary;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > div {
    width: 33%;
  }

  .licence {
    text-align: center;
    pointer-events: none;
    @include media.for-mobile {
      text-align: start;
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  a {
    pointer-events: auto;
    color: colors.$text-primary;
    transition-duration: 0.2s;

    &:hover {
      color: colors.$palette-green;
    }
  }

  @include media.for-large-desktop {
    padding: 20px;
    font-size: 18px;
    line-height: 32px;
  }

  @include media.for-mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 40px;
    & > div {
      width: 100%;
    }
  }

}

.donationWrapper {
  display: flex;
  @include media.for-mobile {
    overflow-x: hidden;
  }
}


.footerLinks {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;


  @include media.for-large-desktop {
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;  
    gap: 4px;
  }
  @include media.for-mobile {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;  
    gap: 8px;
    a {
      width: 100%;
    }
  }

}

.addressRow {
  display: flex;
  gap: 4px;
  align-items: center;
}

.donation {
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 100px;
  background-color: colors.$background-secondary;
  gap: 8px;
  border: 1px solid transparent;
  cursor: pointer;
  transition-duration: 0.2s;

  &:hover {
    border-color: colors.$palette-green;
    .donationAddress {
      color: colors.$palette-green;
    }
    svg {
      color: colors.$palette-green;
    }
  }

  img {
    width: 32px;
  }

  @include media.for-large-desktop {
    padding: 10px 32px 10px 20px;
    img {
      width: 58px;
    }
  }
  @include media.for-mobile {
    border-radius: 0px;
    padding: 12px 16px;
    width: 100%;
    img {
      display: none;
    }
  }
}

.donationLabel {
  color: colors.$text-secondary;
  display: block;
  white-space: nowrap;
  @include media.for-large-desktop {
    display: none;
  }
  @include media.for-mobile {
    display: none;
  }
}
.donationLabelLarge {
  color: colors.$text-secondary;
  display: none;
  @include media.for-large-desktop {
    display: block;
  }
  @include media.for-mobile {
    display: block;
  }
}

.donationAddress {
  transition-duration: 0.2s;
  color: colors.$text-primary;
}

.donationText {
  display: grid;
  gap: 4px;
}

.copyAddressForDonationsButton {
  background: transparent;
  padding: 0;
  border: 0;
  width: 24px;
  height: 24px;

  svg {
    color: colors.$text-secondary;
    transition-duration: 0.2s;
  }
}

.githubButton {
  position: relative;
  background-color: transparent;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  border-radius: 8px;
  color: colors.$text-primary;
  height: 32px;
  padding-left: 20px;
  padding-right: 16px;
  border: 1px solid colors.$palette-green;

  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    margin-right: 4px;
  }

  &:hover {
    cursor: pointer;
  }

  @include media.for-mobile {
    border-radius: 8px;

  }
}
