@use "src/styles/colors";
@use "src/styles/media";

.tooltipIcon {
  display: flex;
  align-items: center;

  @include media.for-mobile {
    display: none;
  }
}

.tooltip {
  max-width: 480px;
  color: colors.$text-primary;
  background-color: colors.$background-secondary;
  padding: 12px 20px;
  border-radius: 8px;
  border: 1px solid colors.$text-primary;
  text-align: left;
}
.tooltipArrow {
  background-color: colors.$background-secondary;
  border-right: 1px solid colors.$text-primary;
  border-bottom: 1px solid colors.$text-primary;
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: 4px;
  left: calc(50% - 8px);
  transform: rotate(45deg);
}

.mobileTooltipIcon {
  display: none;
  @include media.for-mobile {
    display: block;
  }
  svg {
    color: colors.$text-secondary;
  }
}
.mobileTooltip {
  padding: 20px;
  padding-top: 52px;
  
  font-size: 14px;
  line-height: 24px; /* 171.429% */
  font-style: normal;
  font-weight: 400;
  color: colors.$text-secondary;

  a {
    color: colors.$palette-green;
    &:hover {
      text-decoration: underline;
    }
  }

}