@use "src/styles/colors";
@use "src/styles/typography";
@use "src/styles/media";

.dialogHeader {
  padding: 16px 24px 16px 40px;
  border-bottom: 1px solid colors.$border-primary;
  color: colors.$text-primary;

  &.withBack {
    padding: 16px 24px;
  }

  @include media.for-mobile {
    padding: 16px;

    &.withBack {
      padding: 6px 10px;
    }
  }
}

.title {
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}

.topContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.paragraphText {
  margin-top: 8px;
  @include typography.t-body-16;
  color: colors.$text-secondary;

  @include media.for-mobile {
    @include typography.t-body-14;
  }
}
