@use "src/styles/colors";
@use "src/styles/media";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: colors.$background-primary;
  border-bottom: 1px solid colors.$border-primary;
  @include media.for-mobile {
    border: none;
  }
}
.headerTabs {
  display: flex;

  width: 100%;
  height: 60px;
  max-width: 680px;
  @include media.for-mobile {
    display: none;
  }
}

.headerSettings {
  display: flex;
  align-items: center;
  color: colors.$text-primary;  
  gap: 12px;
  padding-right: 20px;
  position: relative;
  @include media.for-mobile {
    width: 100%;
    padding: 8px 16px;
    padding-right: 8px;
    img {
      width: 20px;
      height: 20px;
    }
    .chevronDown {
      width: 20px;
      height: 20px;
    }
  }
}

.tab {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; 
    text-align: center;
    color: colors.$text-primary;  
    transition-duration: 0.2s;
  }

  &.active {
    span {
      color: colors.$palette-green;
    }
  }

  &:hover {
    span {
      color: colors.$palette-green;
    }

    .headerUnderline {
      background-color:  colors.$palette-green;
      width: calc(100% - 16px);
    }
    .headerActiveUnderline {
      width: 100%;
    }
  }

  @include media.for-mobile {
    span {
      font-size: 14px;
      line-height: 24px;
    }
  }
}

.headerUnderline {
  width: 100%;
  height: 4px;
  background-color: colors.$background-primary;
  position: absolute;
  bottom: 0px;
  transition-duration: 0.2s;

}
.headerActiveUnderline {
  background-color:  colors.$palette-green;
}

// Change network
.pickNetworkButton {
  // display: flex;
  width: 100%;
  padding: 6px 8px;
  outline: 0;
  border: 1px solid colors.$border-primary;
  background-color: colors.$background-primary;
  cursor: pointer;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  white-space: nowrap;
  color: colors.$text-primary;
  svg {
    transition-duration: 0.2s;
  }

  @include media.for-mobile {
    width: fit-content;
    height: 32px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    .shortWalletAddress {
      display: none;
    }
  }
}

.network {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 8px 20px;
  cursor: pointer;
  &:hover {
    background-color: #323531;
  }

  span {
    white-space: nowrap;  
    color: colors.$text-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
  }

  @include media.for-mobile {
    padding: 14px 16px;
  }
}

.open {
  transform: rotate(-180deg);
}


.walletMenu {
  position: absolute;
  z-index: 100;
  right: 20px;
  top: calc(100% + 24px);
  border: 1px solid colors.$border-primary;
  background-color:  colors.$background-secondary;
}
.walletNetworksMenu {
  position: absolute;
  z-index: 100;
  right: 210px;
  top: calc(100% + 24px);
  border: 1px solid colors.$border-primary;
  background-color:  colors.$background-secondary;
  @include media.for-mobile {
    right: 20px;
    left: 20px;

  }
}

.walletAddress {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  gap: 12px;
  color: colors.$text-secondary;  
  cursor: pointer;

  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  svg {
    color: colors.$text-secondary;  
  }
  &:hover {
    background-color:  colors.$background-primary;
  }
}

.address {
  color: colors.$text-primary;  
}

.disconnectWallet {
  width: 100%;
  padding: 12px 20px;
  outline: 0;
  border: none;
  border-top: 1px solid colors.$border-primary;
  background-color:  colors.$background-secondary;
  cursor: pointer;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  white-space: nowrap;
  color: colors.$text-primary;
  svg {
    transition-duration: 0.2s;
  }

  @include media.for-mobile {
    height: 48px;
  }

  &:hover {
    background-color:  colors.$background-primary;
  }
}

.menuButtonWrapper {
  display: none;
  @include media.for-mobile {
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }
}
.menuButton {
  width: 40px;
  min-width: 40px;
  height: 40px;
  background: transparent;
  padding: 0;
  outline: 0;
  border: 0;
  position: relative;
  // margin-right: -12px;
  display: none;
  cursor: pointer;
  color: colors.$text-secondary;
  justify-content: center;
  align-items: center;

  @include media.for-mobile {
    display: flex;
  }
}

.menuWrapper {
  background-color: colors.$background-secondary;
  height: 100%;
}

.menuContent {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 16px;
}

.menuItem {
  display: flex;
  align-items: center;
  color: colors.$text-primary;
  padding: 10px 16px;
  padding-left: 12px;
  border-left: 4px solid colors.$background-secondary;
  gap: 12px;

  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
  }

  &.active {
    background-color: colors.$background-primary;
    color: colors.$palette-green;
    border-color: colors.$palette-green;
  }
}

// Custom node 
.customNodeModal {
  padding: 40px;
}


.fieldsLabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: colors.$text-primary;
  margin-bottom: 4px;
}
.amountInputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 10px 20px 10px 20px;
  border: 1px solid colors.$border-primary;
  width: 100%;
  background-color: colors.$background-primary;
  outline: 0;
  font-size: 16px;
  line-height: 28px;
  color: colors.$text-primary;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
}

/* Basic styles for the select element */
.select {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

/* Style the select element's options */
.select option {
  font-size: 14px;
  background-color: #fff;
  color: #333;
}