@use "src/styles/colors";
@use "src/styles/media";

.closeButton {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: colors.$text-secondary;
  transition-duration: 0.2s;
  background: transparent;
  cursor: pointer;
  outline: 0;
  border: 0;

  &:hover {
    color: colors.$text-primary;
  }
}
