$palette-red: #FF6060;
$palette-green: #50c878;
$palette-blue: #438de5;
$background-primary: #1a1c19;
$background-secondary: #292b28;
$background-green: #0E2F16;
$border-primary: #3e463d;
$border-active: #787b78;
$text-primary: #fdfffc;
$text-secondary: #c3d8d5;
$text-placeholder: #7D857B;

$snackbar-red: #472727;
$snackbar-orange: #352F27;
$snackbar-blue: #212835;
$snackbar-green: #25312B;
$snackbar-purple: #2D2834;
$snackbar-olive: #313226;
$snackbar-carrot: #352C28;
