@use "src/styles/colors";
@use "src/styles/media";

.searchBlock {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid colors.$border-primary;
  transition-duration: 0.2s;

  @include media.for-mobile {
    padding: 20px;
  }
}

.resultBlock {
  color: colors.$text-primary;

  padding: 40px;
  @include media.for-mobile {
    padding: 16px;
    padding-bottom: 24px;
  }
}

.resultBlockHeader {
  display: flex;
  justify-content: space-between;

  @include media.for-mobile {
    flex-direction: column;
    gap: 16px;
  }
}

.resultBlockHeaderInfo {
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;

  div {
    background-color: colors.$background-primary;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    border-radius: 4px;
    gap: 4px;
  }

  @include media.for-mobile {
    flex-direction: column;
  }
}


.step {
  display: flex;
  gap: 20px;
  color: colors.$text-primary;

  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border: 1px solid;
  }
}

// 
// 
.group-3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  gap: 20px;

  @include media.for-mobile {
    flex-direction: column;
  }
}


.textarea-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  // margin-right: 20px;
}

.wallet-address {
  color: colors.$text-placeholder;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
}

.textarea-list {
  color: #fdfffc;
  background-color: #191c18;
  font-size: 16px;
  font-weight: 400;
  overflow-y: scroll;
  scroll-behavior: smooth;
  white-space: normal;
  border: 0 solid;
  letter-spacing: 0;
  line-height: 28px;
  width: 100%; /* Flexible width */
  // max-width: 465px; /* You can adjust the maximum width as needed */
  height: 317px;
  resize: none;
  margin-top: 4px;

  // 
  padding: 10px 16px;
}

.search-button {
  background-color: colors.$palette-white;
  color: colors.$background-primary;
  border: none;
  border-radius: 8px;
  color: #191c18;
  cursor: pointer;
  padding: 12px 24px;
  width: 100%;
  transition: background-color 0.3s;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;

  box-shadow: 0px 4px 8px 0px rgba(255, 255, 255, 0.32);
}

.search-button:hover {
  background-color: #EAEAEA;
}

.search-button:disabled {
  background-color: #5F625F;
  box-shadow: none;
}

.search-button.running {
  background-color: red;
  box-shadow: none;
  /*box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;*/
}

.frame-reuslts {
  height: 80vh;
  display: flex;
  padding-top: 30px;
  flex-direction: column;
}

.textarea-results {
  color: #fdfffc;
  background-color: #191c18;
  font-size: 16px;
  font-weight: 400;
  overflow-y: scroll;
  scroll-behavior: smooth;
  white-space: nowrap;
  border: 0 solid;
  letter-spacing: 0;
  line-height: 28px;
  width: 100%; /* Flexible width */
  height: 100%;
  resize: none;
  outline: none;
}


// 
// 

.totalLosses {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$background-primary;
  border: 1px solid colors.$palette-red;
  border-left: none;
  border-right: none;
  padding: 10px 20px;
  margin-top: 20px;

  p {
    color: colors.$palette-red;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
  }

  @include media.for-mobile {
    flex-direction: column;
  }

}

.totalLossesText {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;

  svg {
    color: colors.$palette-red;
  }
}

.download {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: colors.$background-primary;
  padding: 10px 20px;
  margin-top: 20px;
  p {
    color: colors.$text-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
  }
  button {
    border-radius: 4px;
    width: fit-content;
    padding: 0px 20px;
    height: 40px;

    span {

      display: flex;
      align-items: center;  
      gap: 4px;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 175% */
  
    }
  }

  @include media.for-mobile {
    flex-direction: column;
    gap: 12px;
  }
}

.result {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}
.resultItem {
  display: flex;
  flex-direction: column;
  border: 1px solid colors.$border-primary;
  background-color: colors.$background-primary;
  padding: 12px 20px;
}

.resultItemHeader {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.resultItemHeaderName {
  display: flex;
  align-items: center;
  gap: 8px;

  color: colors.$text-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: colors.$text-primary;
    transition-duration: 0.2s;
  }
  a:hover {
    color: colors.$palette-red;
  }

  @include media.for-mobile {
    margin-bottom: 8px;
  }
}

.resultItemHeaderLosses {
  display: flex;
  align-items: center;
  gap: 4px;

  color: colors.$text-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px; /* 170% */
}
.resultItemHeaderLossesUsd {
  color: colors.$palette-red;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
}

.itemDetailsHeader {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid colors.$border-primary;
  padding-top: 16px;
  margin-top: 12px;
  margin-bottom: 12px;

  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  color: colors.$text-secondary;

  p:nth-child(1) {
    width: 30%;
  }
  p:nth-child(2) {
    width: 80%;
  }
  p:nth-child(3) {
    width: 40%;
  }
  p:nth-child(4) {
    width: 40%;
    text-align: right;
  }
}
.itemDetailsRow {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;


  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  color: colors.$text-primary;

  a {
    color: colors.$text-primary;
  }

  p:nth-child(1) {
    width: 30%;
  }
  p:nth-child(2) {
    width: 80%;
  }
  p:nth-child(3) {
    width: 40%;
  }
  p:nth-child(4) {
    width: 40%;
    text-align: right;
  }

  p:nth-child(1) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &.exclude {
    p {
      color: colors.$text-placeholder;
    }
    p:nth-child(4) {
      justify-content: flex-end;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    a {
      color: colors.$text-placeholder;
    }
    svg {
      color: colors.$text-placeholder;
    }
  }
}


.chevron {
  transition-duration: 0.2s;

}
.open {
  transform: rotate(-180deg);
}


// 
// 

.calculationProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin-top: 40px;

  p {
    color: colors.$text-primary;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 170% */
  }

  &.hide {
    opacity: 0;
    // display: none;
  }
}

.progressContainer {
  width: 100%;
  background: colors.$background-primary;
  border: 1px solid var(--border-main, #3E463D);
  height: 12px;

  overflow: hidden;
  position: relative;

  .progressBar {
    background: colors.$palette-red;
    height: 100%;
    transition: width 0.3s ease;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  button {
    margin-top: 10px;
    cursor: pointer;
  }
}

.tokenCardBalanceContract {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: colors.$text-secondary;

  a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    text-decoration-line: underline;  
    width: fit-content;
  }
  svg {
    cursor: pointer;
    color: colors.$text-secondary;
  }
  &.withBorder {
    padding-bottom: 12px;
    border-bottom: 1px solid colors.$border-primary;
  }
}


.itemDetailsRowMobile {
  display: flex;
  flex-direction: column;

  border-top: 1px solid colors.$border-primary;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
  color: colors.$text-primary;

  a {
    color: colors.$text-primary;
  }


  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  div {
    display: flex;
    justify-content: space-between;
    p:nth-child(1) {
      color: colors.$text-secondary;
    }
  }

  &.exclude {
    p {
      color: colors.$text-placeholder;
    }
    div {
      p:nth-child(1) {
        color: colors.$text-placeholder;
      }
    }
  
    div:nth-child(4) {
      p {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  
    a {
      color: colors.$text-placeholder;
    }
    svg {
      color: colors.$text-placeholder;
    }
  }

}