@use "src/styles/colors";
@use "src/styles/media";

.contentBlockHeader {
  padding-top: 32px;
  text-align: center;
  border-bottom: none;
  
  @include media.for-mobile {
    padding-top: 20px;
  }
}

.h1 {
  padding: 0px 40px;

  @include media.for-mobile {
    padding: 0px 20px;
  }
}
.description {
  padding: 0px 40px;
  padding-bottom: 32px;

  @include media.for-mobile {
    padding: 0px 20px;
    padding-bottom: 16px;
  }
}

.step {
  display: flex;
  gap: 20px;
  padding: 32px 40px;
  border-top: 1px solid colors.$border-primary;

  @include media.for-mobile {
    padding: 16px 20px;
  }
}

.stepContent {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include media.for-mobile {
    gap: 4px;
  }
}

.stepNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  border: 1px solid colors.$text-primary;

  span {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px; /* 150% */
    color: colors.$text-secondary;  
  }

  @include media.for-mobile {
    width: 32px;
    min-width: 32px;
    height: 32px;
    span {
      font-size: 18px;
      line-height: 32px;
    }
  }
}
.stepTitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 36px; /* 150% */
  color: colors.$text-secondary;
  text-align: left;

  @include media.for-mobile {
    font-size: 18px;
    line-height: 32px;
  }
}
.stepDescription {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 175% */
  color: colors.$text-secondary;
  text-align: left;

  @include media.for-mobile {
    font-size: 14px;
    line-height: 24px;
  }
}
