@use "src/styles/colors";
@use "src/styles/media";

.modal {
  position: fixed;
  inset: 0; /* inset sets all 4 values (top right bottom left) much like how we set padding, margin etc., */
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  z-index: 999;
  padding: 40px 20px 20px;
}

.modalContent {
  width: 100%;
  max-width: 440px;
  max-height: min(80vh, 600px);
  background-color: colors.$background-secondary;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border: 1px solid colors.$border-primary;
  position: relative;
  &.large {
    max-width: 560px;
  }
}

.modalHeaderContainer {
  padding: 12px 40px;
  padding-right: 12px;
  border-bottom: 1px solid colors.$border-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  &.modalHeaderWithoutTitle {
    position: absolute;
    right: 0;
    border-bottom: none;
    width: auto;
    gap: 0px;
    padding: 12px;
  }
}
.modalHeaderTitle {
  color: colors.$text-primary;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px; /* 170% */
}
.modalHeaderClose {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
