@use "src/styles/colors";
@use "src/styles/media";

.recentEvent {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 14px 20px;
  align-items: center;

  border: 1px solid colors.$border-primary;
  transition-duration: 0.2s;

  &:hover {
    background-color: #323531;
    border: 1px solid var(--event-color);

    .arrow {
      color: var(--event-color);
      transform: rotate(-45deg);
    }

    .title {
      color: var(--event-color);
      text-shadow: 0 0 12px var(--event-color);
    }
  }
  @include media.for-mobile {
    padding: 12px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
  }

}

.date {
  color: colors.$text-secondary;
  font-size: 16px;
  line-height: 28px;

  @include media.for-large-desktop {
    font-size: 20px;
    line-height: 34px;
  }
}

.dateWrapper {
  display: flex;
  align-items: center;
  @include media.for-mobile {
    width: 100%;
    justify-content: space-between;
  }
}

.title {
  color: var(--event-color);
  
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;

  @include media.for-large-desktop {
    font-size: 20px;
    line-height: 34px;
  }
}

.arrow {
  transition-duration: 0.2s;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c6cfc4;
  min-width: 48px;
}

.recentEventMultipleLinks {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding: 14px 0px;
  align-items: center;

  border: 1px solid colors.$border-primary;
  transition-duration: 0.2s;

  &:hover {
    cursor: pointer;
    background-color: #323531;
    border: 1px solid var(--event-color);

    .chevron {
      color: var(--event-color);
    }

    .title {
      color: var(--event-color);
      text-shadow: 0 0 12px var(--event-color);
    }
  }
}
.titleContainer {
  display: flex;
  width: 100%;
  padding: 0px 20px;
  overflow: hidden;
  // .chevron {
  //   margin-left: 10px;
  // }
}

.chevron {
  transition-duration: 0.2s;
  min-width: 48px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c6cfc4;
}

.urlArrow {
  transition-duration: 0.2s;
  min-width: 48px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c6cfc4;
}

.open {
  transform: rotate(-180deg);
}

.urlTitle {
  color: var(--event-color);
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;

  @include media.for-large-desktop {
    font-size: 20px;
    line-height: 34px;
  }
}

.urlContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-top: 1px solid colors.$border-primary;
  transition-duration: 0.2s;
  padding: 6px 0px;

  &:hover {
    background-color: #323531;

    .urlArrow {
      color: var(--event-color);
      transform: rotate(-45deg);
    }
    .urlTitle {
      text-shadow: 0 0 12px var(--event-color);
    }
  }
}
.urlContainer:first-child {
  border: 0px;
}

.urlContainer:last-child {
  padding-bottom: 0px;
}

.urlsContainer {
  width: 100%;
  border-top: 1px solid colors.$border-primary;
  padding: 0px 20px;
  margin-top: 10px;
}

.highlighted {
  border: 1px solid colors.$text-primary;
  .title {
    color: colors.$text-primary;
    text-shadow: 0 0 16px colors.$text-primary;
  }
  .date {
    color: colors.$text-primary;
  }
}
