@use "src/styles/colors";
@use "src/styles/media";


.addTokens {
  padding: 40px;
  @include media.for-mobile {
    padding: 16px;
    padding-bottom: 24px;
  }
}

.walletAddressInput {
  margin-bottom: 20px;
}
.converterFieldsLabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: colors.$text-primary;
  margin-bottom: 4px;
}
.converterCustomFields {
  display: flex;
  margin-bottom: 4px;
}
.amountInputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input {
  padding: 10px 20px 10px 20px;
  border: 1px solid colors.$border-primary;
  width: 100%;
  background-color: colors.$background-primary;
  outline: 0;
  font-size: 16px;
  line-height: 28px;
  color: colors.$text-primary;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }
}

.addTokenContainer {
  display: flex;
  gap: 20px;
  @include media.for-mobile {
    gap: 16px;
  }
}

.addTokenButton {
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 0px solid colors.$border-primary;
  background-color: colors.$palette-green;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px rgba(80, 200, 120, 0.32);
  
  svg {
    color: colors.$background-primary;
  }

  &[disabled] {
    pointer-events: none;
    background-color: #787b78;
  }
}

.updateButton {
  width: 48px;
  min-width: 48px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid colors.$border-active;
  background-color: colors.$background-secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  svg {
    color: colors.$text-secondary;
  }

  @include media.for-mobile {
    width: 40px;
    min-width: 40px;
    height: 40px;
  }
}

.actionButton {
  background-color: colors.$background-primary;
}

.tokensList {
  display: flex;
  flex-direction: column;
  padding: 40px;
  padding-bottom: 12px;
  border-top: 1px solid colors.$border-primary;

  @include media.for-mobile {
    padding: 16px;
    padding-top: 24px;
  }
}

.tokensListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  h3 {
    color: colors.$text-primary;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;  
  }

  @include media.for-mobile {
    h3 {
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
    }
  }
}

.tokensListTableHeader {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;

  span {
    color: colors.$text-secondary;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
  @include media.for-mobile {
    display: none;
  }
}

.tableToken {

}
.tableERC20 {}
.tableERC223 {}
.tableAction {}

.styledScrollbar {
  &::-webkit-scrollbar {
    width: 14px;
    height: 14px;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb {
    border: 3px solid colors.$background-secondary;
    background-clip: padding-box;
    border-radius: 8px;
    min-height: 40px;
    background: var(--placeholder, #7D857B);
  }

  &::-webkit-scrollbar-track {
    border: 0px solid transparent;
    background-clip: padding-box;
    border-radius: 30px;
  }
}

.list {
  padding-left: 40px;
  padding-right: calc(40px - 14px);
  @include media.for-mobile {
    padding-left: 16px;
    padding-right: calc(16px - 14px);
  }
}

.listItem {
  padding-bottom: 12px;
}

.tokenCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 16px 0px;
  padding-right: 20px;
  color: colors.$text-primary;
  background-color: colors.$background-primary;
  border-radius: 8px;

  @include media.for-mobile {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.tokenCardToken {
  display: flex;
  align-items: center;
  width: 160px;
  padding-left: 20px;
  // background-color: red;

  img {
    margin-right: 8px;
  }
  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
  }
  &.isCustom {
    padding-left: 0px;
  }
}

.tokenCardBalance {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 160px;


  span {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 175% */
  }
}
.tokenCardBalanceContract {
  display: flex;
  align-items: center;
  gap: 8px;
  color: colors.$text-secondary;

  a {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    text-decoration-line: underline;  
  }
  svg {
    cursor: pointer;
    color: colors.$text-secondary;
  }
}

.searchInputWrapper {
 position: relative;
}

.searchInput {
	&:focus {
		+ {
			.searchAutocomplete {
        display: flex;
			}
		}
	}

}

.searchAutocomplete {
  position: absolute;
  background-color: colors.$background-secondary;
  z-index: 100;
  width: 100%;
  top: 100%;
  display: none;
  border: 1px solid colors.$border-primary;
  flex-direction: column;
  gap: 4px;
  overflow-y: auto;
  max-height: 200px;
  &:hover {
    display: flex;
  }
}

.searchAutocompleteItem {
  color: colors.$text-primary;
  padding: 8px 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; 
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;

  &:hover {
    background-color: colors.$background-primary;
  }
}

.invalidAddressError {
  margin-top: 4px;
  color: colors.$palette-red;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
