@use "src/styles/colors";
@use "src/styles/media";
@import "src/styles/keyframes";

.tabs {
  display: flex;
  flex: 1;
  overflow: auto;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 44px 0 40px;
  gap: 12px;
  flex: 0 0 auto;
  position: relative;
  overflow: hidden;

  h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    color: colors.$text-primary;
    max-width: 840px;

    animation: glow-main 70s infinite ease-in-out;
  }
  h2 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 600;
    text-align: center;
    color: colors.$text-secondary;
    max-width: 840px;
    margin-bottom: 12px;
  }

  p {
    color: colors.$text-secondary;
    font-size: 24px;
    line-height: 32px;
    max-width: 840px;
  }

  a {
    color: colors.$palette-green;
    &:hover {
      text-decoration: underline;
    }
  }

  @include media.for-large-desktop {
    h1 {
      font-size: 68px;
      line-height: 80px;
      max-width: 1000px;
      margin-bottom: 12px;
    }

    h2 {
      font-size: 28px;
      line-height: 38px;
      margin-bottom: 20px;
      max-width: 1000px;
    }

    p {
      font-size: 20px;
      line-height: 34px;
      max-width: 1000px;
    }
  }
  @include media.for-mobile {
    h1 {
      font-size: 28px;
      line-height: 38px;
    }
    h2 {
      font-size: 18px;
      line-height: 32px;
      padding: 0px 20px;
    }
    p {
      font-size: 18px;
      line-height: 32px; 
      padding: 0px 20px;
    }
  }

}

.tab {
  border-top: 1px solid colors.$border-primary;
  border-bottom: 1px solid colors.$border-primary;

  display: flex;
  flex-direction: column;
  flex: 0.34;
  overflow: auto;
  overflow-x: hidden;

  &:not(:last-child) {
    border-right: 1px solid colors.$border-primary;
  }

  &.active {
    flex: 0.664;
  }

  @include media.for-mobile {
    display: none;
    &.active {
      display: flex;
      flex: 1;
    }  
  }

}

.resources {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding: 0 20px;
  flex: 1;
  overflow-y: hidden;

  > div {
    width: 33%;
  }

  @include media.for-large-desktop {
    padding: 0 30px;
    gap: 30px;
  }
  @include media.for-mobile {
    display: none;
  }
}

.eventsTabContent {
  padding: 0 20px;

  flex: 1;
  overflow-y: auto;
  @include media.for-mobile {
    padding: 0px;
  }
}

.bgImage {
  animation: glow-header-bg 5s infinite ease-in-out;
  position: absolute;
  height: 500px;
  top: 0px;
  pointer-events: none;
}

.leftImage {
  left: -75%;
  @include media.for-large-desktop {
    left: -40%;
  }
  @include media.for-ultra-large-desktop {
    left: -25%;
  }
  @include media.for-mobile {
    display: none;
  }
}

.rightImage {
  right: -75%;
  @include media.for-large-desktop {
    right: -40%;
  }
  @include media.for-ultra-large-desktop {
    right: -25%;
  }
  @include media.for-mobile {
    right: -50%;
    width: 150%;
    height: auto;
  }
}

.resourceTabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid colors.$border-primary;
  margin: 0 20px;
  @include media.for-mobile {
    margin: 0px;
  }
}

.inactiveContent {
  display: none;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
  max-height: 100vh;

  &.active {
    display: flex;
  }

  @include media.for-mobile {
    max-height: none;
    display: flex;
  }
}

.resourceTabButton {
  background-color: colors.$background-primary;
  border: 0;
  padding: 0;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: colors.$text-secondary;

  &:not(:last-child) {
    border-right: 1px solid colors.$border-primary;
  }

  &.active {
    color: colors.$text-primary;
    background-color: colors.$background-secondary;
  }

  &:hover:not(.active) {
    cursor: pointer;
    background-color: #323531;
  }

  @include media.for-mobile {
    height: 48px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    padding-left: 16px;
  }

  position: relative;
  div {
    position: absolute;
    right: 8px;
    top: calc(50% - 12px)
  }  
}

.inactiveTabColumn {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
  margin: 10px 20px 0;
  padding-right: 1px;

  @include media.for-mobile {
    margin: 16px;
  }
}

.mobileTabs {
  display: none;
  grid-template-columns: 1fr 1fr;
  border: 1px solid colors.$border-primary;
  margin: 16px;
  margin-top: 0px;

  @include media.for-mobile {
    display: grid;
  }
}
.mobileTabButton {
  background-color: colors.$background-primary;
  border: 0;
  padding: 0;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: colors.$text-secondary;
  &:not(:last-child) {
    border-right: 1px solid colors.$border-primary;
  }

  &.active {
    color: colors.$text-primary;
    background-color: colors.$background-secondary;
  }

  &:hover:not(.active) {
    cursor: pointer;
    background-color: #323531;
  }

  position: relative;
  div {
    position: absolute;
    right: 12px;
    top: calc(50% - 12px)
  }  
}
