@keyframes glow-title {
  0% {
    text-shadow: 0 0 10px rgba(43, 231, 106, 0);
  }

  50% {
    text-shadow: 0 0 10px rgba(43, 231, 106, 0.80);
  }

  100% {
    text-shadow: 0 0 10px rgba(43, 231, 106, 0);
  }
}

@keyframes glow-main {
  0% {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6;
  }
  
  6% {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6;
  }
  
  30% {
    text-shadow: 0 0 20px #fff, 0 0 30px #44ffa6, 0 0 40px #44ffa6, 0 0 50px #44ffa6, 0 0 60px #44ffa6, 0 0 70px #44ffa6, 0 0 90px #44ffa6;
  }
  
  50% {
    text-shadow: 0 0 20px #fff, 0 0 30px #44ffa6, 0 0 40px #44ffa6, 0 0 50px #44ffa6, 0 0 60px #44ffa6, 0 0 70px #44ffa6, 0 0 90px #44ffa6;
  }
  
  90% {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6;
  }
  
  100% {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6;
  }
}


@keyframes glow-header-bg {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

@keyframes glow-arrow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
