
.glow-title {
  font-size: 80px;
  color: #fff;
  text-align: center;
  animation: glow-title 7s infinite ease-in-out alternate;
}

@keyframes glow-title {
  0% {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6;
  }
  
  15% {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6;
  }
  
  40% {
    text-shadow: 0 0 20px #fff, 0 0 30px #44ffa6, 0 0 40px #44ffa6, 0 0 50px #44ffa6, 0 0 60px #44ffa6, 0 0 70px #44ffa6, 0 0 80px #44ffa6;
  }
  
  50% {
    text-shadow: 0 0 20px #fff, 0 0 30px #44ffa6, 0 0 40px #44ffa6, 0 0 50px #44ffa6, 0 0 60px #44ffa6, 0 0 70px #44ffa6, 0 0 80px #44ffa6;
  }
  
  80% {
    text-shadow: 0 0 0px #fff, 0 0 0px #fff, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6, 0 0 0px #44ffa6;
  }
}

@keyframes glow-main {
  0% {
    text-shadow: 0 12px 44px  rgba(43, 231, 106, 0), 0px -12px 44px rgba(43, 231, 106, 0);
  }

  50% {
    text-shadow: 0 12px 44px rgba(43, 231, 106, 0.8), 0px -12px 44px rgba(43, 231, 106, 0.8);
  }

  100% {
    text-shadow: 0 12px 44px  rgba(43, 231, 106, 0), 0px -12px 44px  rgba(43, 231, 106, 0);
  }
}


@keyframes glow-header-bg {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.4;
  }
}

@keyframes glow-arrow {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
