@use "src/styles/colors";
@use "src/styles/media";

.customContractAddressWrapper {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 14px;
}
.checkboxLabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: colors.$text-primary;
  cursor: pointer;
  user-select: none;
}

.converterFieldsLabel {
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: colors.$text-primary;
  margin-bottom: 4px;
}

.converterFields {
  display: grid;
  grid-template-columns: 5fr 3fr;
  margin-bottom: 4px;
}
.converterCustomFields {
  display: flex;
  margin-bottom: 4px;
}

.amountInputWrapper {
  position: relative;
  width: 100%;
}

.amountInput {
  padding: 10px 55px 10px 20px;
  border: 1px solid colors.$border-primary;
  width: 100%;
  background-color: colors.$background-primary;
  outline: 0;
  font-size: 16px;
  line-height: 28px;
  color: colors.$text-primary;
}

.maxButton {
  font-size: 12px;
  line-height: 16px;
  color: colors.$palette-green;
  position: absolute;
  background-color: transparent;
  right: 10px;
  padding: 0 10px;
  height: 100%;
  outline: 0;
  border: 0;
  cursor: pointer;
}

.pickTokenButton {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: colors.$background-primary;
  outline: 0;
  border: 1px solid colors.$border-primary;
  cursor: pointer;
}

.tokenName {
  display: flex;
  gap: 8px;
  color: colors.$text-primary;
  align-items: center;

}

.helperText {
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: colors.$text-secondary;
}

.networksContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  // gap: 20px
  padding: 20px 0px
}
.network {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 14px 40px;
  cursor: pointer;
  &:hover {
    background-color: #323531;
  }

  span {
    color: colors.$text-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 175% */
  
  }
}
