@use "src/styles/colors";

.recentEvent {
  display: grid;
  grid-template-columns: 1fr 48px;
  gap: 10px;
  padding: 14px 20px;

  //&:hover {
  //  .title {
  //    text-decoration: underline;
  //  }
  //
  //  .arrow {
  //    color: colors.$palette-green;
  //    transform: rotate(-45deg);
  //  }
  //}

  transition-duration: 0.2s;

  &:hover {
    background-color: #323531;

    .arrow {
          color: colors.$palette-green;
          transform: rotate(-45deg);
        }
  }

  &:not(:last-child) {
    border-bottom: 1px solid colors.$border-primary;
  }
}

.date {
  font-size: 16px;
  line-height: 28px;
}

.text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: colors.$palette-green;
}

.arrow {
  transition-duration: 0.2s;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #C6CFC4;
}
