@use "src/styles/colors";
@use "src/styles/media";

.button {
  position: relative;
  background-color: colors.$palette-green;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  border-radius: 8px;
  color: colors.$background-primary;
  height: 48px;
  width: 100%;
  border: 0;
  &:hover {
    cursor: pointer;
  }

  &[disabled] {
    pointer-events: none;
    background-color: #787b78;
  }

  &.isLoading {
    cursor: progress;
    span {
      visibility: hidden;
      opacity: 0;
    }
  }
  &.isLoading::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border: 2px solid transparent;
    border-top-color: colors.$background-primary;
    border-radius: 50%;
    animation: button-loading-spinner 0.8s ease infinite;
  }

  // SECONDARY BUTTON
  &.secondary {
    font-weight: 400;
    background-color: transparent;
    color: colors.$text-primary;
    border: 1px solid colors.$palette-green;
  }
  &.secondary::after {
    border-top-color: colors.$text-primary;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
