@use "colors";


* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

body, html, #__next, .wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-color: colors.$background-primary;
}

a {
  text-decoration: none;
  color: colors.$text-secondary;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

/* total width */
.scrollbar::-webkit-scrollbar {
  background-color: rgba(0,0,0,0);
  width: 8px;
  height: 16px;
  z-index: 999999;
}

/* background of the scrollbar except button or resizer */
.scrollbar::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
  border-left: 1px solid colors.$border-primary;
  padding: 0 2px;
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
  background-color: colors.$border-primary;

  //border-radius:16px;
  //border: 0;
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {
  display:none;
}


/* scrollbar when element is hovered */
.scrollbar:hover::-webkit-scrollbar-thumb {
  background-color: colors.$border-primary;
  border: 0;
}

/* scrollbar when scrollbar is hovered */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: colors.$border-primary;
  border: 0;
}

.scrollbar {
  scrollbar-color: colors.$border-primary rgba(0,0,0,0);
  scrollbar-width: thin;
}
