@use "src/styles/colors";

.tabs {
  display: flex;
  flex: 1;
  overflow: auto;
}

.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  overflow: auto;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.footer {
  font-size: 16px;
  line-height: 28px;
  height: 60px; /* Replace with your desired footer height */
  background-color: colors.$background-primary;
  border-top: colors.$border-primary;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 24px 0 32px;
  gap: 12px;
  flex: 0 0 auto;

  h1 {
    font-size: 38px;
    font-weight: 600;
    line-height: 56px;
    color: colors.$text-primary;
  }

  p {
    color: colors.$text-secondary;
    font-size: 16px;
    line-height: 28px;
  }
}

.tab {
  //width: 33.3%;
  border-top: 1px solid colors.$border-primary;
  border-bottom: 1px solid colors.$border-primary;
  padding-bottom: 20px;

  display: flex;
  flex-direction: column;
  flex: 0.33;
  overflow: auto;

  &:not(:last-child) {
    border-right: 1px solid colors.$border-primary;
  }

  //transition-duration: 0.3s;

  &.active {
    flex: 0.664;
  }
}

.resources {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  padding: 0 20px;
  flex: 1;
  overflow-y: hidden;

  > div {
    width: 33%;
  }
}

.eventsTabContent {
  padding: 0 20px;

  flex: 1;
  overflow-y: auto;
}

.resourceTabs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid colors.$border-primary;
  margin: 0 20px;
  border-bottom: 0;
}

.inactiveContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: auto;
}

.resourceTabButton {
  background-color: colors.$background-primary;
  border: 0;
  padding: 0;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  color: colors.$text-primary;

  &:not(:last-child) {
    border-right: 1px solid colors.$border-primary;
  }

  &.active {
    background-color: colors.$background-secondary;
  }

  &:hover:not(.active) {
    cursor: pointer;
    background-color: #323531;
  }
}

.inactiveTabColumn {
  display: grid;
  margin: 0 20px;
  border: 1px solid colors.$border-primary;
  overflow-y: auto;
}
