@use "src/styles/colors";
@use "src/styles/media";

.contentBlockHeader {
  padding-top: 32px;
  text-align: center;
  border-bottom: none;
  
  @include media.for-mobile {
    padding-top: 20px;
  }
}

.h1 {
  padding: 0px 40px;
}
.description {
  padding: 0px 40px;
  padding-bottom: 32px;
}
