@use "src/styles/colors";
@use "src/styles/media";

.contentBlockHeader {
  text-align: center;
  border-bottom: none;
  padding: 32px;
  
  @include media.for-mobile {
    padding: 20px;
  }
}

.underConstructionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70dvh;
  max-height: 680px;
  padding: 32px;
  @include media.for-mobile {
    padding: 20px;
  }
}

.h1 {
  margin: 0px;
  margin-top: 12px;
  font-size: 34px;
  line-height: 48px;
  font-weight: 600;
}
.description {
  margin-top: 12px;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
